html {
    font-size: medium;
}

body {
    background: linear-gradient( plum, thistle, lavender);
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 25vh;
    background: plum;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    text-align: center;
}

main {
    height: 60vh;
    background: thistle;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center
}

footer {
    height: 15vh;
    background: lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer small {
    order: 1;
}

header img {
    height: 80px;
}

main img {
    width: 100%;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

a, select, small, strong {
    font-size: 1.1rem;
}