body {
    background: grey;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    background: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 75vh;
    background: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 10vh;
    background: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 50px
}

main img {
    height: 300px
}