:host {
    display: none;
    font-size: medium;
    position: relative;
}
  
main {
    position: absolute;
    z-index: 100;
    width: 100%;
    opacity: 0.5;
    text-align: left;
    margin-top: 7%;
    margin-left: 5%;
}

button {
    font-size: large;
    padding: 5px 40px;
    cursor: pointer;
}
  
@media (max-width: 480px) {
    :host {
        font-size: small;
    }
  
    main {
        text-align: center;
        margin-top: 4%;
        margin-left: 0;
    }
}