:host {
    display: none;
    font-size: medium;
    position: relative;
}
  
h1 {
    position: absolute;
    z-index: 100;
    margin-top: 10%;
    margin-left: 5%;
    width: 100%;
    text-align: left;
    opacity: 0.5;
}
  
@media (max-width: 480px) {
    :host {
        font-size: small;
    }
  
    h1 {
        text-align: center;
        margin-top: 20%;
        margin-left: 0;
    }
}