:host {
    display: none;
    padding: 40px;
    min-height: 90vh;
    font-size: medium;    
}

h1 {
    opacity: 0.5;
    margin-top: 110px;
}

@media (max-width: 480px) {
    h1 {
        text-align: center;
        margin-top: 50px;
    }
}